body {
  background: white;
  font-family: Oswald, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5); }

hr {
  margin: 0px; }

img {
  max-width: 100%;
  height: auto; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.bgHeader {
  width: 100%;
  height: 602px;
  background: url(..//images/bgHeader.png); }

.bgFooter {
  width: 100%;
  background: #007472 url(..//images/bgFooter.png) repeat-x;
  position: fixed;
  left: 0;
  bottom: 0px; }

.w100 {
  width: 100%; }

.w75 {
  width: 75%;
  float: left; }

.w66 {
  width: 66.66666%;
  float: left; }

.w50 {
  width: 50%;
  float: left; }

.w33 {
  width: 33.33333%;
  float: left; }

.w25 {
  width: 25%;
  float: left; }

.center {
  text-align: center; }

.button, .buttonSquare, .buttonOrange, .buttonBlue {
  width: 84px;
  height: 27px;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75); }
  .button:hover, .buttonSquare:hover, .buttonOrange:hover, .buttonBlue:hover {
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.75); }

.buttonSquare {
  background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%);
  border-radius: 0; }

.buttonOrange {
  background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%); }

.buttonBlue {
  background: linear-gradient(to top, #2792c3 0%, #34abe1 50%); }

.buttonCart a, .dealsPhone .dealsButton div a, .allProducts .product div a {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  font-size: 14px;
  font-family: Roboto;
  float: left;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 3px 7px;
  background-color: #009c9a;
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
  border: 1px solid #2792c3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75); }
  .buttonCart a:nth-child(2):after, .dealsPhone .dealsButton div a:nth-child(2):after, .allProducts .product div a:nth-child(2):after {
    content: url("..//images/cartButton.png"); }
  .buttonCart a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3) {
    padding: 8px;
    border-left: 1px solid lightgray; }
  .buttonCart a:hover, .dealsPhone .dealsButton div a:hover, .allProducts .product div a:hover {
    background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%);
    border: 1px solid orange; }

.content {
  background-color: #f6efef;
  border-top: 1px solid lightgray;
  float: left; }

.container {
  width: 962px;
  min-width: 320px;
  margin: 0px auto; }

.sidebar {
  width: 225px;
  float: left; }

.deals {
  width: 715px;
  float: right; }

.products {
  width: 685px;
  float: right; }

.logo {
  float: left;
  margin-left: 20px;
  margin-top: 98px; }
  .logo h1 {
    font-size: 36px; }
    .logo h1 a {
      color: white; }
      .logo h1 a span {
        background: linear-gradient(#eee 0%, #333 45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black; }

.cart {
  display: inline-block;
  float: right;
  padding-top: 75px; }
  .cart a {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(0, 0, 1, 0.3); }
    .cart a[title="Shopping cart"] {
      background: url(..//images/cart.png) no-repeat;
      padding: 10px 0 10px 50px;
      margin-right: 20px;
      color: #383e44; }
      .cart a[title="Shopping cart"]:hover {
        text-decoration: underline; }

.topMenu {
  display: block;
  padding-top: 120px;
  position: relative;
  top: 0;
  right: 180px; }
  .topMenu ul {
    float: right; }
    .topMenu ul li {
      display: inline-block;
      margin-right: 10px;
      font-family: Helvetica; }
      .topMenu ul li:after {
        content: "/";
        color: #007472;
        font-size: 12px;
        margin-left: 10px; }
      .topMenu ul li:last-child:after {
        content: ""; }
      .topMenu ul li a {
        color: #007472;
        font-size: 12px; }
        .topMenu ul li a:hover {
          text-decoration: underline; }

.login {
  display: block;
  float: right;
  position: relative;
  right: -320px;
  top: 0; }
  .login a {
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    padding: 8px 19px;
    margin-left: 8px; }

.mainMenu {
  background: linear-gradient(to top, #007472 0%, #008e8b 50%);
  border-radius: 10px 10px 0 0;
  float: left;
  margin-top: 25px; }
  .mainMenu ul li {
    display: inline-block;
    border-right: 1px solid #009c9a;
    padding: 30px 0px;
    position: relative; }
    .mainMenu ul li:last-child {
      border-right: none; }
    .mainMenu ul li:hover:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 40%;
      content: "";
      border: 8px solid transparent;
      border-bottom: 8px solid white; }
    .mainMenu ul li a {
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 1, 0.5);
      font-size: 15px;
      text-transform: uppercase;
      padding: 30px 20px; }
      .mainMenu ul li a img {
        height: 15px; }
  .mainMenu .search form {
    float: right;
    margin-bottom: -30px;
    position: relative;
    top: -52px;
    right: 20px;
    border: none; }
    .mainMenu .search form input {
      width: 150px;
      height: 25px;
      border: none;
      border-radius: 10px;
      box-shadow: inset 0 1px 0 #007472; }
      .mainMenu .search form input[placeholder="search phones"] {
        background: white url(..//images/iconSearch.png) no-repeat 5% center;
        padding-left: 30px;
        font-size: 12px; }
      .mainMenu .search form input:focus {
        transition: 1s;
        width: 250px; }

.slider {
  background: white url(..//images/imgSlider.png) no-repeat 100% 0%;
  float: left;
  box-shadow: -5px 0px 10px -5px gray; }
  .slider .titleSlider {
    background: linear-gradient(to right, #c3e7e7 0%, #ffffff 80%);
    width: 402px;
    margin: 20px 0 0 0px;
    padding: 20px 0 20px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    font-family: Helvetica; }
    .slider .titleSlider h2 {
      color: #383e44;
      font-size: 48px;
      text-transform: none;
      font-weight: 100;
      margin-bottom: 13px; }
    .slider .titleSlider p {
      color: #50565c;
      font-size: 14px;
      font-weight: 300;
      width: 365px; }
  .slider .priceSlider {
    height: 214px; }
    .slider .priceSlider h2 {
      padding: 20px 0 20px 25px;
      color: #fbb829;
      font-family: Helvetica;
      font-size: 48px;
      margin-bottom: 25px; }
    .slider .priceSlider a {
      display: inline-block;
      height: 16px;
      margin-left: 20px;
      padding: 13px 27px;
      text-shadow: 0 1px 0 rgba(0, 0, 1, 0.3);
      box-shadow: 1px 1px 3px black;
      font-family: Helvetica;
      color: white;
      font-size: 16px;
      font-weight: 400; }
      .slider .priceSlider a:hover {
        transform: scale(1.1); }

.listSlider {
  float: right;
  box-shadow: 5px 0px 10px -5px gray; }
  .listSlider a {
    display: block;
    border-top: 2px solid lightgray; }
    .listSlider a:first-child {
      border-top: none; }
    .listSlider a div {
      background-color: #e9e7e7;
      border-left: 1px solid lightgray; }
      .listSlider a div:hover:after {
        content: url("..//images/arrowRight.jpg");
        position: relative;
        bottom: 70px;
        left: -1px;
        height: 0px; }
      .listSlider a div:hover {
        background-color: white; }
        .listSlider a div:hover img {
          transform: scale(1.3);
          transition: 1s; }
      .listSlider a div img {
        padding: 22px 10px;
        float: left; }
      .listSlider a div span {
        display: block;
        padding: 45px 0px 40px 110px; }
        .listSlider a div span h3 {
          color: #383e44;
          font-size: 16px;
          font-weight: 700;
          font-family: Roboto; }
        .listSlider a div span p {
          color: #009c9a;
          font-size: 13px;
          font-weight: 300;
          font-family: Arial; }

.sidebar {
  margin-top: 30px; }
  .sidebar h3 {
    padding: 16px 120px 16px 20px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to top, #007472 0%, #008e8b 50%);
    color: white; }
  .sidebar ul {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray; }
    .sidebar ul a li {
      background: white url("..//images/listImage.png") no-repeat 20px 50%;
      border-bottom: 1px solid lightgray;
      padding: 16px 45px;
      text-shadow: 0 1px 0 white;
      color: #50565c;
      font-size: 15px;
      font-family: Roboto;
      font-weight: 300; }
      .sidebar ul a li:hover {
        background-color: #e9e7e7;
        font-weight: bold;
        padding-left: 60px;
        transition: 0.5s; }

.whatsHot ul a li {
  background: white url("..//images/listPhone.png") no-repeat 0px 50%;
  padding: 25px 0px 25px 60px; }
  .whatsHot ul a li p.price {
    color: orange; }
  .whatsHot ul a li p span {
    text-decoration: line-through;
    color: #50565c; }
  .whatsHot ul a li:hover p {
    transform: rotate(360deg);
    transition: 1s; }

.deals {
  margin-top: 30px; }
  .deals ul {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to top, #007472 0%, #008e8b 50%);
    border-bottom: 2px solid #E5A61F;
    overflow: hidden;
    font-size: 0; }
    .deals ul li {
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
      display: inline-block;
      color: white;
      font-size: 16px; }
      .deals ul li.active {
        background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%); }
      .deals ul li:last-child {
        border-right: 2px ridge #009c9a; }
      .deals ul li a {
        display: inline-block;
        padding: 15px 20px; }
        .deals ul li a:hover {
          background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%); }

.dealsPhone {
  border: 1px solid lightgray;
  border-top: none;
  background: linear-gradient(to top, #e9e7e7 0%, #e9e7e7 45%, white 55%, #f3f3f3 65%, white 99%, white 100%); }
  .dealsPhone .dealsImg {
    width: 715px;
    text-align: center;
    border-bottom: 1px solid lightgray; }
    .dealsPhone .dealsImg img {
      margin: 35px 50px 10px; }
      .dealsPhone .dealsImg img:hover {
        transform: scale(1.2);
        transition: 1s;
        cursor: pointer; }
  .dealsPhone .dealsButton {
    width: 715px;
    text-align: center; }
    .dealsPhone .dealsButton div {
      display: inline-block;
      margin: 15px 60px 11px;
      font-size: 14px; }
      .dealsPhone .dealsButton div p {
        text-shadow: 0 1px 0 white;
        color: #383e44; }
  .dealsPhone .dots {
    text-align: center; }
    .dealsPhone .dots i {
      display: inline-block;
      margin-bottom: 10px;
      background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%);
      width: 13px;
      height: 13px;
      border: 1px solid #fefefe;
      border-radius: 50%;
      text-align: center;
      cursor: pointer; }
      .dealsPhone .dots i.active, .dealsPhone .dots i:hover {
        background: linear-gradient(to top, #007472 0%, #008e8b 50%); }

.featured {
  margin-top: 20px;
  background: linear-gradient(to top, #007472 0%, #008e8b 50%);
  border-radius: 10px;
  padding: 15px;
  color: white; }
  .featured h3 {
    float: left; }
  .featured ul {
    float: right; }
    .featured ul .active {
      color: orange; }
    .featured ul li {
      display: inline-block;
      margin: 0 3px; }
      .featured ul li:hover {
        color: orange; }

.allProducts {
  text-align: center;
  margin-bottom: 40px; }
  .allProducts .product {
    margin: -10px 10px 20px;
    display: inline-block;
    border: 1px solid lightgray;
    background: linear-gradient(to top, #e9e7e7 0%, #e9e7e7 25%, white 35%, #f3f3f3 45%, white 99%, white 100%); }
    .allProducts .product:hover {
      transform: scale(1.1);
      transition: 1s;
      cursor: pointer; }
    .allProducts .product img {
      margin-top: 10px; }
    .allProducts .product div {
      width: 190px;
      margin: 10px;
      color: orange;
      border-top: 1px solid lightgray; }
      .allProducts .product div p {
        text-shadow: 0 1px 0 white;
        color: #383e44; }
      .allProducts .product div span {
        float: left;
        position: relative;
        top: 22px;
        margin: 0 15px; }

.news {
  width: 210px;
  margin-top: 40px;
  padding-right: 30px;
  float: left;
  border-right: 1px solid #009c9a;
  display: none; }
  .news h4 {
    color: #fcd157; }
  .news p {
    text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
    color: #dfdfdf;
    font-family: Roboto;
    font-size: 13px;
    line-height: 18px;
    padding: 15px 0; }
  .news input {
    width: 195px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: block; }
  .news a {
    color: white;
    background: linear-gradient(to top, #e5a61f 0%, #fbb829 50%);
    font-family: Roboto;
    font-size: 12px;
    padding: 8px 19px;
    float: right;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75); }
    .news a:hover {
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.75); }

.account,
.shipping,
.links {
  margin-top: 40px;
  float: left;
  padding: 0 30px;
  display: none; }
  .account h4,
  .shipping h4,
  .links h4 {
    color: #fcd157; }
  .account ul,
  .shipping ul,
  .links ul {
    padding-top: 15px; }
    .account ul li,
    .shipping ul li,
    .links ul li {
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
      font-family: Roboto;
      font-size: 13px;
      line-height: 30px; }
      .account ul li a:hover,
      .shipping ul li a:hover,
      .links ul li a:hover {
        text-decoration: underline; }

.shipping {
  border-right: 1px solid #009c9a;
  border-left: 1px solid #009c9a; }

.links {
  border-right: 1px solid #009c9a; }

.socials {
  margin-top: 40px;
  float: left;
  padding-left: 30px;
  display: none; }
  .socials h4 {
    color: #fcd157; }
  .socials ul {
    padding-top: 15px; }
    .socials ul li {
      display: inline-block;
      margin-right: 10px; }
      .socials ul li:hover {
        transform: rotate(360deg);
        transition: 1s; }

.hide {
  position: absolute;
  top: 15px;
  right: 20px; }
  .hide p {
    color: #fcd157;
    text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
    font-family: Roboto;
    font-size: 11px;
    cursor: pointer; }
    .hide p:hover {
      transform: scale(1.1); }

.copyright {
  padding: 15px 0; }
  .copyright p {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
    font-family: Roboto;
    font-size: 11px;
    text-align: center; }
    .copyright p a:hover {
      text-decoration: underline; }

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
    max-width: 962; }

  .mainMenu ul li a {
    padding: 30px 17px; }

  .mainMenu .search form input:focus {
    transition: none;
    width: 150px; }

  .listSlider .w33 {
    width: 25%;
    float: left; }

  .listSlider a div img {
    padding: 22px 0px; }

  .listSlider a div span {
    padding: 45px 0px 0px 0px; }

  .sidebar {
    margin-top: 10px;
    width: 160px; }

  .sidebar h3 {
    padding: 16px 0px 16px 20px; }

  .sidebar ul a li {
    background: white url("..//images/listImage.png") no-repeat 15px 50%;
    padding: 16px 0px 16px 30px; }

  .whatsHot ul a li {
    background: white url("..//images/listPhone.png") no-repeat 0px 50%;
    padding: 25px 0px 25px 60px; }

  .deals {
    margin-top: 10px;
    width: 580px; }

  .dealsPhone .dealsImg {
    width: 580px; }

  .dealsPhone .dealsImg img {
    margin: 35px 30px 10px; }

  .dealsPhone .dealsButton {
    width: 580px; }

  .dealsPhone .dealsButton div {
    margin: 15px 40px 10px; }

  .products {
    width: 550px; }

  .featured {
    margin-top: 10px; }

  .allProducts .product {
    margin: 0px 4px 10px; }

  .allProducts div {
    width: 180px; }

  .allProducts .product div {
    width: 160px; }

  .allProducts .product div span {
    top: 19px; }

  .buttonCart a, .dealsPhone .dealsButton div a, .allProducts .product div a, .dealsPhone .dealsButton div a, .allProducts .product div a {
    padding: 0; }

  .buttonCart a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3) {
    padding: 5px 0px; } }
@media screen and (max-width: 768px) {
  .bgHeader {
    height: 546px; }

  .container {
    width: 470px; }

  .logo {
    margin-top: 28px; }

  .cart {
    padding-top: 37px; }

  .topMenu {
    padding-top: 70px;
    right: 70px; }

  .login {
    right: 0px;
    top: 10px; }

  .mainMenu ul li {
    padding: 20px 0px;
    border-right: none; }

  .mainMenu ul li a {
    padding: 20px 11px; }

  .mainMenu .search form {
    float: none;
    top: -90px;
    right: 0;
    width: 250px; }

  .mainMenu .search form input {
    width: 250px; }

  .mainMenu .search form input:focus {
    transition: none;
    width: 250px; }

  .slider {
    width: 100%; }

  .listSlider {
    display: none; }

  .deals {
    margin-top: 10px;
    width: 305px; }

  .dealsPhone .dealsImg {
    width: 305px; }

  .dealsPhone .dealsImg img {
    margin: 20px -17px 16px; }

  .dealsPhone .dealsButton {
    width: 305px; }

  .dealsPhone .dealsButton div {
    margin: 15px 12px 20px; }

  .dealsPhone .dealsButton div p {
    font-size: 0.7em; }

  .dealsButton a {
    display: none; }

  .products {
    width: 275px; }

  .allProducts .product {
    margin: 0px 2px 10px; }

  .allProducts div {
    width: 140px; }

  .allProducts .product div {
    width: 120px; }

  .allProducts .product div span {
    margin: 0px 40px; }

  .allProducts .product div a {
    margin-top: 30px; }

  .buttonCart a, .dealsPhone .dealsButton div a, .allProducts .product div a, .dealsPhone .dealsButton div a, .allProducts .product div a, .dealsPhone .dealsButton div a, .allProducts .product div a {
    padding: 3px; }

  .buttonCart a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3) {
    padding: 8px 18px; }

  .news {
    width: 100%;
    border: none; }

  .news input {
    margin: 0 auto; }

  .news a {
    display: inline-block;
    float: none;
    position: relative;
    top: 5px;
    left: 130px;
    width: 170px;
    text-align: center; }

  .account, .shipping, .links, .socials {
    padding: 0 33px;
    border: none; } }
@media screen and (max-width: 480px) {
  .bgHeader {
    height: 473px; }

  .container {
    width: 320px; }

  .logo {
    margin-top: 20px; }

  .logo h1 {
    font-size: 20px; }

  .cart {
    padding-top: 18px;
    padding-left: 17px;
    float: none; }

  .cart a[title="Shopping cart"] {
    padding: 10px 0 10px 50px;
    margin-right: 5px; }

  .cart a {
    font-size: 10px; }

  .topMenu {
    padding-top: 15px;
    right: 9px; }

  .topMenu ul li {
    margin-right: 5px; }

  .topMenu ul li:after {
    margin-left: 5px; }

  .login {
    right: 5px;
    top: 10px; }

  .login a {
    font-size: 10px;
    margin-left: 2px; }

  .mainMenu ul {
    text-align: center; }

  .mainMenu ul li {
    padding: 15px 0px;
    border-right: none; }

  .mainMenu ul li:hover:after {
    border: none; }

  .mainMenu ul li a {
    padding: 20px 1px;
    font-size: 13px; }

  .mainMenu .search form {
    float: none;
    top: -80px;
    right: -5px;
    width: 120px; }

  .mainMenu .search form input {
    width: 120px; }

  .mainMenu .search form input:focus {
    transition: none;
    width: 120px; }

  .slider {
    background-position: 100% 100%; }

  .slider .titleSlider {
    width: 300px;
    padding-left: 10px;
    margin: 0; }

  .slider .titleSlider h2 {
    font-size: 30px; }

  .slider .titleSlider p {
    font-size: 12px;
    width: 290px; }

  .slider .priceSlider {
    width: 46%; }

  .sidebar {
    display: none; }

  .deals {
    margin-top: 5px;
    width: 320px; }

  .dealsPhone .dealsImg {
    margin: 0 auto; }

  .dealsPhone .dealsImg img {
    margin: 20px -20px 16px; }

  .dealsPhone .dealsButton {
    margin: 0 auto; }

  .dealsPhone .dealsButton div {
    margin: 15px 8px 20px; }

  .products {
    width: 290px; }

  .featured {
    margin-top: 5px; }

  .allProducts div {
    width: 150px; }

  .allProducts .product {
    margin: 0 2px 9px; }

  .allProducts .product div {
    width: 130px; }

  .buttonCart a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3), .dealsPhone .dealsButton div a:nth-child(3), .allProducts .product div a:nth-child(3) {
    padding: 8px 23px; }

  .news h4 {
    padding: 0px 50px; }

  .news p {
    padding: 15px 15px; }

  .news a {
    left: 56px; }

  .account, .shipping, .links, .socials {
    margin-left: 15px;
    margin-right: -22px;
    padding-right: 10px; }

  .socials ul {
    width: 50%; }

  .socials ul li {
    margin-right: 5px; }

  .hide p {
    text-align: center; }

  .hide {
    top: 5px;
    right: 0;
    width: 100%; }

  .copyright {
    padding: 17px 0; }

  .copyright p {
    font-size: 10px;
    margin-bottom: -10px;
    margin-top: 8px; } }

/*# sourceMappingURL=main.css.map */
